	
				<form class="login100-form validate-form"  method="POST" enctype="multipart/form-data">
					<span class="login100-form-title p-b-49">
						Welcome to CSV to Grafana Dashboard 
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "File is reauired">
						<span class="label-input100">Upload Your CSV File</span>
						<input class="input100" type="file" name="file" required>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Upload File
							</button>
						</div>
					</div>

					
				</form>


