	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div>
      <a href="#"><img src="static/images/2.png" style="width:50px;height:10%"></a>
    </div>
    <div >
      <a class="navbar-brand" href="#">Grafana Dashboard</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><script>document.write(new Date().toLocaleDateString())</script></a></li>
      <li><a href="#"><script>document.write(new Date().toLocaleTimeString())</script></a></li>
      <li></li>
      
    </ul>
    
  </div>
</nav> 	